.skill{
    width: 90%;
    margin: 0 auto;
    border: 1px solid blue;
}
.panel-heading{
    background-color: black;
    padding: 10px;
    color: white;
}

.panel-body{
    background-color: rgb(0, 0, 0, 0.05);
    padding: 10px;
    display: none;
}
.active .panel-body{
    display: block;
}