*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #ccc;
}
body {

}
.header {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header p{  
    text-align: center;
    margin-bottom: -30px;
}
.header h1{ 
    color: rgb(235, 234, 243);
    text-align: center;
    font-size: 150px;
    text-shadow: 0px 2px 5px #000 ;
    transition: .5s;
    top: 50%;
    cursor: pointer;
}
.header h1:hover {
    text-shadow:  2px 4px 0 #000,
    3px 6px 0 #000,
    4px 8px 0 #000,
    5px 10px 0 #000,
    6px 12px 0 #000,
    7px 14px 0 #000,
    8px 16px 0 #000,
    9px 18px 0 #000,
    10px 20px 0 #000,
    14px 24px 11px rgba(0, 0, 0, .8) ;
}
