*{
    text-decoration: none;
    color: black;
    margin: auto;
    background-color: #F1F1F5;
    list-style: none;
}
.head{
    width: 80%;
    height: 58px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-bottom: 1px solid #EBEBEB;
}

.head a{
    width: 1256;
    font-size: 15px;
}
header{    
    display: flex;
    justify-content: center;
    width: 80%;
    height: 52px;
    font-size: 15px;
    border: 1px solid black;
    border-bottom: 1px solid #EBEBEB;
}

header.header_1 a{
    display: flex;
    justify-content: center;

}
header.header_2 a{
    display: flex;
    justify-content: center;

}

footer{
    display: flex;
    justify-content: center;
    height: 56px;
    width: 100%;
    background: #323232;

}
footer .footer{
    display: flex;
    justify-content: center;
}
footer .footer a{
    font-size: 16px;
    color: white;
    background: #323232;
}

.foot{
    display: flex;
    background-color: #fff;
    height: 297px;
    width: 100%;
}
.foot>.foot_1{
    background-color: #fff;
    flex: 3;
    line-height: 25px;
    margin-left: 3%;
}
.foot>.foot_1>h4,h2{
    background-color: #fff;
    color: #505050;
}
.foot>.foot_2{
    background-color: #fff;
    flex: 9;
    line-height: 25px;
    margin-left: 3%;
}
.foot>.foot_2,h4{
    background-color: #fff;
    color: #505050;
}
