li {
    list-style: none;
}
a {
    text-decoration: none;
}
body{
    background-size: cover;
    background-image: url(../jpg/bg1.jpg);
    color: white;
}
.section {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: transparent; /*스타일*/
    overflow: hidden;
}
.section_text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text_box{
    color: #333;
    font-size: 36px;
    padding: 5px;
    background-color: #fff;
}
/* text_box box1/box2에 border 컬러값주기 & 필요하면 사진*/

.box1 {
    border: 5px solid black;    /*스타일*/
    border-radius: 10px;
}
.box2 {
    border: 5px solid blue; /*스타일*/
    border-radius: 10px;
}