*{
    color: rgb(51, 40, 40);
    font-family: 'Cute Font', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
caption {
    display: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
}
.board_list {
    text-align: center;
}
.list {
    width: 50%;
    margin: 0 auto;
}
.list {
    border-top: 3px solid green; /*스타일*/
}
.list tr{
    border-bottom: 1px solid #eee;
}
.list th,
.list td {
    padding: 10px 0;
}
.list .title_list {
    text-align: left;
}
.page {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.page a {
    background-color: #eee;
    border-radius: 50%;
    align-items: center;
    padding: 5px;
    font-size: 50%;
}