*{
    background-color: rgb(213, 243, 233);
    color: rgb(51, 40, 40);
    font-family: 'Cute Font', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
}
/* header 영역 */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.header .content {
    text-align: center;
}
.content h3 {
    font-size: 40px;

}
.content h1 {
    font-size: 60px;
    margin-top: 40px;
}
/* header 영역 */

/* main 영역 */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.main_select {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.main_select li {
    width: 100%;
    height: 30vh;
    padding: 5px;
    text-align: center;
}
.main_select li + li {
    margin-left: 15%;
}
li a,
.info span{
    background: transparent;
}
.item01 {
    align-items: center;
    border: 5px solid red;
    border-radius: 10px;
    font-size: 30px;
}
.item02 {
    border: 5px solid blue;
    border-radius: 10px;
    font-size: 30px;
}
.item01:hover{
    border: none;
    background-color: red;
    transform: scale(0.95);
}
.item01:hover span{
    background-color: transparent;
    color: white;
}
.item02:hover{
    border: none;
    background-color: blue;
    transform: scale(0.95);
}
.item02:hover span{
    /*background-color: transparent;*/
    color: white;
}
/* more... */
/* a태그 hover시 background color 투명하게 하는 법좀.. */

/* aside 영역 */
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.aside_text {
    display: flex;
    align-items: center;
    font-size: 30px;

}
/*aside 영역*/

/*footer 영역*/
footer{
    height: 15vh;
}
footer p {
    background-color: #8f4c40; /*스타일 변경*/
    width: 0 auto;
    padding:50px 0;  
    text-align: center;
    color: #000;
}