*{
    list-style: none;
    text-decoration: none;
    color: black;
}
.header{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #5665;
    overflow: hidden;
}
.header .text{
    margin-top: 150px;

}
.header h1{
    /* color: white; */
    margin: 0;
}
.header p{  
    /* background-color: rgb(204, 156, 156); */
    font-size: 14px;
    /* color: white; */
    margin-top: 10px;
}   
nav{
    /* background-color: #323232; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
}
nav ul li{
    font-size: 14px;
    border: 1px;
    padding: 0 10px;

}
.btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 15px;
}
.btn:hover{
    background-color: #eee;
    border-radius: 5%;
}
.btn:active{
    transform: scale(0.9);
}

.modal{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: center 0.3s ease-in-out;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    max-width: 100%;
    width: 400px;
    height: 500PX;

    z-index: 2;
}
.modal.active{
    top: 50%;
}
.modal_header{
    background-color: rgb(46, 32, 73);
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px;
    align-items: center;
}
.modal_header h2{
    color: white;
}
.modal_header button{
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white; /*color: white; 가 적용이 안됨*/
}
.aboutme{
    text-align: center;
}
.aboutme .image{
    width: 50%;
    height: 200px;
    background-color: #eee;
    margin-top: 10%;
    margin-left: 25%;
}
.aboutme p{
    border: 3px solid red;
    padding: 20px;
    margin: 0;
}

/* skill 과 content 내용 css코드로 작성하기 */
.skill{
    width: 90%;
    margin: 0 auto;
    border: 1px solid blue;
}
.panel-heading{
    background-color: black;
    padding: 10px;
    color: white;
}

.panel-body{
    background-color: rgb(0, 0, 0, 0.05);
    padding: 10px;
    display: none;
}
.active .panel-body{
    display: block;
}



#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#overlay.active{
    display: block;
}