*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.slider{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slides{
    position: absolute;
    top: 0;
    left: 0;
    height: 1444px;
    transition: left 0.5s ease-out;
}
.slide{
    float: left;
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
}
span:hover{
    color:rgba(0,0,0,1);
}
#prev{
    margin-left: -450px;
}
#next{
    margin-left: 450px;
}