*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.slider{
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slides{
    position: absolute;
    width: 100%;
    transition: left 0.5s ease-out;
}
.slide{
    position: absolute;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}
.slider .animated{
    transition: left 0.3s ease-in;
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
}
span:hover{
    color:rgba(0,0,0,1);
}
#prev{
    margin-left: -450px;
}
#next{
    margin-left: 450px;
}