*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    width: 1000px;
    height: 600PX;
}
.slider{
    
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.slides{
    position: absolute;
    top: 0;
    left: 0;
    width: 9000px;
    transition: 0.5s ease-in;
}
.slides li:not(:last-child){
    float: left;
}
.controls{
    text-align: center;
}
.controls span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
    z-index: 2;
}
span:hover{
    color:rgba(0,0,0,1);
}
.prev{
    margin-left: -450px;
}
.next{
    margin-left: 450px;
}