*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.slider{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 1444px;
    transition: left 0.5s ease-out;
}
.slide li{
    float: left;
}
.controller span{
    position: absolute;
    padding: 10px 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    cursor: pointer;
    color: rgba(0,0,0,0.3);
}
.controller span:hover{
    color:rgba(0,0,0,1);
}
.perev{
    left: 10px;
}
.next{
    right: 10px;
}