@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,ul,li,p,a,blockquote {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    line-height: 1;
}
img {
    vertical-align: top;
}
em {
    font-size: normal;
}
.hidden {
    display: none;
}
/* TYPOGRAPHY */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
/* HEADER SLOGAN */
header {
    background-color: #2c2f36;
    height: 81px;
    line-height: 81px;
    text-align: center;
}
header .logo a {
    font-size: 24px;
    color: #fff;
}
header .logo a em {
    font-weight: bold;
}
.slogan {
    padding: 107px 0 97px;
    background: #e2e2e2;
}
.slogan h2 {
    font-size: 50px;
    color: #11262e;
}
.slogan p {
    font-size: 28px;
    color: #11262e;
    line-height: 32px;
    margin: 24px 0 40px;
} 
.slogan a {
    background: #00c494;
    height: 71px;
    line-height: 71px;
    color: #fff;
    font-size: 28px;
    padding: 0 62px;
    border-radius: 4px;
    display: inline-block;
}
/* TESTIMONIAL */
.testimonial {
    background: #f0f0f0f0;
    padding: 53px 0;
    text-align: center;
}
.testimonial blockquote {
    line-height: 27px;
}
.testimonial blockquote p {
    font-size: 28px;
}
.testimonial blockquote small {
    font-size: 19px;
    font-style: italic;
}
/* DEVICE */
.device {
    padding: 97px 0 216px;
}
.device h3 {
    font-size: 35px;
    color: #2c2f36;
    margin-bottom: 26px;
}
.device p {
    font-size: 18px;
    line-height: 27px;
}
.appliance img {
    position: absolute;
    left: 70px;
    opacity: 0;
}
.animate {
    animation: fadeIn 1s forwards;
    transition: 2s ease-in-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
#phone {
    margin-top: 40px;
}
#phone .animate {
    transform: translateX(14em);
}
#monitor .animate {
    transform: translateX(3em);
}
/* FEATURES */

/* LOCATION */