* {
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 0 5vw;
    background-color: white;
}
.middle a {
    margin-left: 3vw;
}

main .first {
    height: 80vh;
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.first .info {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info .title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 44px;
}