* {
    margin: 0;
    padding: 0;
    line-height: 1;
}
a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 0 5vw;
    background-color: white;
    font-weight: bold;
}
nav .middle i {
    display: none;
}
.color {
    color: rgb(67, 67, 105);
    font-size: 18px;
}
section {
    opacity: 0;
    transition: 0.5s;
}
/* .animate {
    animation: fadeIn 1s forwards;
    transition: 2s ease-in-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
} */
.middle a {
    margin-left: 3vw;
}

main .first {
    height: 80vh;
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
.first .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.first .info .title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.first .info .title p {
    font-size: 40px;
}
.first .info .title strong  {
    font-size: 60px;
}
.first .info .sub_title {
    margin-top: 30px;
}
main .secound {
    height: 130vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.secound .info strong {
    font-size: 32px;
}
.secound .grid_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-top: 5vh;
}
.secound .grid .img1 {
    width: 500px;
    height: 200px;
    background-image: url(img/img5.jpg);
    background-size: cover;
    background-position: center;
}
.secound .grid .img2 {
    width: 500px;
    height: 200px;
    background-image: url(img/img6.jpg);
    background-size: cover;
    background-position: center;
}
.secound .grid .img3 {
    width: 500px;
    height: 200px;
    background-image: url(img/img7.jpg);
    background-size: cover;
    background-position: center;
}
.secound .grid .img4 {
    width: 500px;
    height: 200px;
    background-image: url(img/img8.jpg);
    background-size: cover;
    background-position: center;
}
.secound .grid .info {
    margin-top: 20px;
}
.secound .grid .info strong {
    font-size: 20px;
}
.secound .grid .btn {
    margin: 5vh auto 0;
    width: 300px;
    height: 50px;
    background-color: transparent;
    box-shadow: 2px 2px 10px #000;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.secound .btn button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
main .third {
    height: 40vh;
    background-image: url(img/img8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}
.third .info {
    color: white;
    margin-left: 10vw;
}
.third .info .title {
    font-size: 44px;
}
main .fourth{
    height: 80vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fourth .info {
    margin-top: 5vh;
}
.fourth .info strong {
    font-size: 32px;
}
.fourth .grid strong {
    font-size: 20px;
}
.fourth .grid_wrap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 5vh;
}
.fourth .grid .img1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(img/img5.jpg);
    background-size: cover;
    background-position: center;
}
.fourth .grid .img2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(img/img6.jpg);
    background-size: cover;
    background-position: center;
}
.fourth .grid .img3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(img/img7.jpg);
    background-size: cover;
    background-position: center;
}
main .fifth {
    height: 40vh;
    background-image: url(img/img8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}
.fifth .info {
    color: white;
    margin-right: 10vw;
    text-align: end;
}
.fifth .info .title {
    font-size: 44px;
}
main .sixth{
    height: 100vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sixth .info {
    margin-top: 5vh;
}
.sixth .info strong {
    font-size: 32px;
}
.sixth .grid strong {
    font-size: 20px;
}
.sixth .grid_wrap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 5vh;
}
.sixth .grid .img1 {
    width: 300px;
    height: 450px;
    background-image: url(img/img9.jpg);
    background-size: cover;
    background-position: center;
}
.sixth .grid .img2 {
    width: 300px;
    height: 450px;
    background-image: url(img/img10.jpg);
    background-position: center;
}
.sixth .grid .img3 {
    width: 300px;
    height: 450px;
    background-image: url(img/img11.jpg);
    background-size: cover;
    background-position: center;
}
main .seventh {
    height: 40vh;
    background-image: url(img/img12.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}   
.seventh .info {
    color: white;
    margin: auto;
}
.seventh .info .title {
    font-size: 44px;
}
main .eighth{
    height: 80vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.eighth .info {
    margin-top: 5vh;
}
.eighth .info strong {
    font-size: 32px;
}
.eighth .btn {
    margin: 5vh auto 0;
    width: 300px;
    height: 50px;
    background-color: transparent;
    box-shadow: 2px 2px 10px #000;
    display: flex;  
    justify-content: center;
    cursor: pointer;
}
.eighth .btn button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.eighth .grid_wrap {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 5vh;
}
.eighth .grid .img1 {
    width: 1000px;
    height: 400px;
    background-image: url(img/img13.jpg);
    background-size: cover;
    background-position: center;
}
@media screen and (max-width : 700px) {
    nav div:nth-child(2) {
        order: 1;
    }
    nav div:nth-child(1) {
        order: 2;
    }
    nav div:nth-child(3) {
        order: 3;
    }
    nav:nth-child(1) {
        font-size: 24px;
    }
    nav div:nth-child(2) a {
        display: none;
    }
    nav div:nth-child(2) i {
        display: block;
        font-size: 28px;
    }
    nav div:nth-child(3) {
        font-size: 28px;
    }
    main .first {
        height: 50vh;
    }
    .first .info {
        width: 80%;
    }
    main .secound {
        height: 80vh;
    }
    .secound .info {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .secound .grid_wrap {
        display: flex;
        width: 2000px;
    }
    .slider{
        position: relative;
        width: 500px;
        height: 600px;
        margin: 0 auto;
        overflow: hidden;
    }
    .slides{
        position: absolute;
        top: 0;
        left: 0;
        width: 2000px;
        transition: 0.5s ease-in-out;
    }
    .slides li:not(:last-child){
        float: left;
    }
    .controls{
        text-align: center;
    }
    .controls span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        cursor: pointer;
        color: rgba(0,0,0,0.3);
        z-index: 2;
    }
    span:hover{
        color:rgba(0,0,0,1);
    }
    .prev{
        margin-left: -200px;
    }
    .next{
        margin-left: 200px;
    }
}