* {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,ul,li,a {
    color: #000;
    list-style: none;
    text-decoration: none;
}
header {
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    background: rgba(0, 0, 0,.2);
    z-index: 1000;
    transition: .5s;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-left: 5em;
}
header.scroll { height: 6vh; line-height: 6vh; border-bottom: none; background: #3A2D28; position: fixed; }
header.scroll nav ul li a { color: #fff; }

.main {
    height: 100vh;
}
.scroll-down {
    z-index: 11;
    position: fixed;
    width: 42px;
    height: 64px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 82px;
    border: 2px solid black;
    border-radius: 50px;
}
.scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}
.scroll-down::before, .scroll-down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll 1s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}
.scroll-down.scroll-op {
    opacity: 0;
}
main {
    background: #EBE3DB;
}
.review {
    background: #F1EDE6;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .info .img{
    margin: auto;
    width: 300px;
    height: 300px; 
    border-radius: 70%;
    overflow: hidden;
}
.review .info .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review .info p {
    width: 1000px;
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: bold;
}

.ability {
    height: 40vh;
    background: #EBE3DB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ability .item {
    margin-left: 5em;
    text-align: center;
    opacity: 0;
    transition: 4s ease-in-out;
}
.ability .item strong {
    font-size: 5em;
    border-radius: 10%;
}
.ability .item p {
    margin-top: 1em;
    font-weight: bold;
}

.ability .item.active { opacity: 1;}
.ability .item.active:nth-child(1) {transition: .2s;}
.ability .item.active:nth-child(2) {transition: .8s;}
.ability .item.active:nth-child(3) {transition: 1.5s;}
.ability .item.active:nth-child(4) {transition: 2s;}
.ability .item.active:nth-child(5) {transition: 2.5s;}
.animate, .grow-img, .animate_down{
    animation: fadeIn 1s forwards;
    transition: 2s ease-in-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.strength {
    background: #EBE3DB;
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1000px;
    margin: auto;
    gap: 5em;
}
.strength .item {
    text-align: center;
}
.strength .item img {
    width: 0;
    height: 0;
}
.strength .item img.grow-img {
    width: 169px;
    height: 169px;
}
.strength .item h4 {
    color: #2c2f36;
    font-size: 30px;
    margin-top: 1em;
    text-transform: uppercase;
    opacity: 0;
}


.contact {
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #767676;
}
.contact .info {
    width: 1000px;
    margin: auto;
}
hr {
    width: 30%;
    margin: 1em auto;
}
.contact .info i {
    color: #fff;
}
.contact .info p {
    color: #fff;
    font-weight: bold;
}
footer {
    color: #fff;
    height: 10vh;
    background: #767676;
    text-align: center;
    margin: auto;
}