* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    color: #20291C;
    background-color: #EAE7E5;
}
header{
    height: 20vh;
    vertical-align: middle;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.left-nav {
    display: flex;
    margin-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}
.left-nav li {
    margin-left: 50px;
    font-size: 12px;
}
.right-nav {
    display: flex;
    margin-right: 5%;
}
.right-nav li {
    margin-right: 50px;
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.right-nav li:nth-child(3) {
    width: 38px;
    background-color:  #20291C;
    border-radius: 10%;
}
#night_day {
    border: none;
    background-color: #20291C;
    color:  #EAE7E5;
    font-size: 16px;
    margin: 10px auto;
    display: flex;
    border-radius: 10%;
}
.on {
    color: #20291C;
}
.gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 495px;
}
.gallery button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 100%;
    border: none;
}
.gallery div {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 25px;
    color: #fff;
}
.gallery strong {
    display: block;
}
.hide {
    display: none;
}
footer{
    background-color: #1e241d;
    color: #EAE7E5   ;
    margin-top: 25vh;
    display:flex;
    justify-content: center;
    height: 10vh;
    line-height: 10vh;
    font-size: 14px;
}