* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #20291C;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #EAE7E5;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .info1 {
    margin-left: 8%;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
.header .info2 {
    margin-right: 8%;
    font-size: 24px;
}

.header ul li {
    display: inline-block;
    margin-left: 50px;
}
.header ul li:nth-child(1){
    margin-left: 0;
}
.header ul .bar,
.header ul .man {
    display: none;
}
.bag_wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: start;
    position: relative;
    top: 20%;
}
.bag>p {
    font-size: 84px;
}
.bag_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 10vh;
}
.bag .margin {
    margin-top: 5vh;
}
.bag_item::after {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    bottom: -10%;
    border-bottom: 1px solid #20291C;
}
.item_paint {
    display: flex;
    justify-content: start;
    align-items: center;
}
.item_paint img {
    width: 157px;
    height: 157px;
    background-color: #20291C;
    border: #20291C;
}
.item_paint p {
    margin-left: 2%;
    width: 200px;
}
.item_num {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    align-items: center;
}
.item_num i {
    font-size: 20px;
}
.item_close {
    margin-right: 2%;
    font-size: 24px;
}
.total_wrap {
    position: absolute;
    bottom: -60%;
    right: 0;
    width: 30%;
}
.total_item {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: medium;
}
.total_item .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.total_item .item:nth-child(1) {
    margin-bottom: 2vh;
}
.total {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5vh;
    font-size: 30px;
    font-weight: bold;
}
.total::after {
    position: absolute;
    content: '';
    top: -50%;
    right: 0;
    border: 1px solid #20291C;
    width: 100%;

}
.total_btn {
    width: 100%;
    height: 40px;
    background-color: #20291C;
}
.total_btn button {
    width: 100%;
    height: 40px;
    background: none;
    color: #EAE7E5;
    font-size: 18px;
}