* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    height: 100vh;
    color: #20291C;
    background-color: #EAE7E5;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.info1 {
    margin-left: 8%;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
.info2 {
    height: 32px;
    margin-right: 8%;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.info2 .iteam:nth-child(3) {
    width: 38px;
    background-color:  #20291C;
    border-radius: 10%;
}
#night_day {
    border: none;
    background-color: transparent;
    color:  #EAE7E5;
    font-size: 16px;
    margin: 10px auto;
    display: flex;
}

.on {
    color: #20291C;
}
.header ul li {
    display: inline-block;
    margin-left: 50px;
}
.header ul li:nth-child(1){
    margin-left: 0;
}
.header ul .bar,
.header ul .man {
    display: none;
}
.login_wrap {
    position: relative;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
}
.login p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5vh;
    font-weight: bold;
}
.login_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}
.login_item input {
    height: 6vh;
    font-size: 20px;
    padding-left: 5%;
    margin-bottom: 1vh;
    border: none;
    outline: none;
    background-color: #CCC7C4;
}
.login_sub {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 13px;
    margin-top: 1vh;
}
.sub1 {
    display: flex;
    justify-content: flex-start;
    vertical-align: text-top;
}
.sub1 input {
    height: 13px;
}
.sub1 label {
    height: 13px;
    margin-left: 5%;
    color: #20291C;
}
.sub2 {
    text-decoration: underline;
}
.sub2 a {
    color: #20291C;
}
.login_btn {
    width: 100%;
    height: 6vh;
    margin-top: 5vh;
    border-radius: 15px;
    background-color: #20291C;
}
.login_btn button{
    width: 100%;
    height: 6vh;
    border: none;
    background: none;
    color: #EAE7E5;
    text-align: center;
    font-size: 18px;
}
footer{
    margin-top: 10vh;
    width: auto;
    padding:50px 0;  
    overflow: hidden;
    background-color: #20291C;
    text-align: center;
    color: #EAE7E5;
    font-size: 14px;
}