* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    color: #20291C;
    background-color: #EAE7E5;
}
header{
    height: 20vh;
    vertical-align: middle;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.left-nav {
    display: flex;
    margin-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}
.left-nav li {
    margin-left: 50px;
    font-size: 12px;
}
.right-nav {
    display: flex;
    margin-right: 5%;
}
.right-nav li {
    margin-right: 50px;
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.right-nav li:nth-child(3) {
    width: 38px;
    background-color:  #20291C;
    border-radius: 10%;
}
#night_day {
    border: none;
    background-color: #20291C;
    color:  #EAE7E5;
    font-size: 16px;
    margin: 10px auto;
    display: flex;
    border-radius: 10%;
}
.on {
    color: #20291C;
}
main {
    position: relative;
    width: 1020px;
    height: 342px;
    margin: auto;
    overflow: hidden;
    transition: transform 0.5s;
}
main .move{
    position: relative;
    display: flex;
    width: 360px;
    height: 342px;
    transition: transform 0.5s;
}

main .move li  {
    margin-left: 30px;
}
aside{
    margin-top: 5vh;
    display:flex;
    justify-content: center;
}
button {
    width: 10%;
    height: 30px;
    border: none;
    background-color: transparent;
}
button:hover {
    transform: scale(1.2);
}
footer{
    background-color: #1e241d;
    color: #EAE7E5   ;
    margin-top: 25vh;
    display:flex;
    justify-content: center;
    height: 10vh;
    line-height: 10vh;
    font-size: 14px;
}