* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    color: #20291C;
    background-color: #EAE7E5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.left-nav {
    display: flex;
    margin-left: 5%;
}
.left-nav li {
    margin-left: 50px;
}
.right-nav {
    display: flex;
    margin-right: 5%;
}
.right-nav li {
    margin-right: 50px;
}
main {
    display: flex;
    width: 1020px;
    height: 342px;
    margin:  auto;
}
main section {
    margin-left: 30px;
}
.Pagetop{
    margin-top: 25vh;
    overflow: hidden ;
}
.Pagebottom{
    margin-top: 30px;
    overflow: hidden ;
}
aside{
    margin-top: 5vh;
    display:flex;
    justify-content: center;
}
button{
    width: 10%;
    height: 30px;
    border: none;
    background-color: transparent;
}
footer{
    background-color: #20291C;
    color: #EAE7E5   ;
    margin-top: 2%;
    display:flex;
    justify-content: center;
}
