* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #20291C;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #EAE7E5;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .info1 {
    margin-left: 8%;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
.header .info2 {
    margin-right: 8%;
    font-size: 24px;
}

.header ul li {
    display: inline-block;
    margin-left: 50px;
}
/* .info1_link span{
    position: relative;
}
.info1_link:hover span::after,
.info1_link:active span::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -18px;
    border-bottom: #EAE7E5;
} 가상 선택자 만들어서 페이지 이동 현황 살피기 *안됨* */
.header ul li:nth-child(1){
    margin-left: 0;
}
.header ul .bar,
.header ul .man {
    display: none;
}
.login_wrap {
    width: 50%;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
}
.login p{
    font-size: 50px;
}
.login_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}
.login_item input {
    height: 3vh;
    margin-bottom: 1vh;
}
.login_sub {
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    align-items: center;
}
.sub1 {
    display: flex;
    justify-content: flex-start;
    height: 13px;
    vertical-align: text-top;
}
.sub1 label {
    vertical-align: -1px;
}