* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #20291C;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #EAE7E5;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header .info1 {
    display: none;
}
.header .info2 {
    margin-right: 8%;
    font-size: 24px;
}

.header ul li {
    display: inline-block;
    margin-left: 50px;
}
/* .info1_link span{
    position: relative;
}
.info1_link:hover span::after,
.info1_link:active span::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -18px;
    border-bottom: #EAE7E5;
} 가상 선택자 만들어서 페이지 이동 현황 살피기 *안됨* */
.header ul li:nth-child(1){
    margin-left: 0;
}
.header ul .bar,
.header ul .man {
    display: none;
}
.login_wrap {
    position: relative;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
}
.login p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5vh;
}
.login_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}
.login_item input {
    height: 6vh;
    margin-bottom: 1vh;
    background-color: #CCC7C4;
    border: none;
    font-size: 18px;
    padding-left: 5%;
}
.login_sub {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 13px;
    margin-top: 1vh;
}
.sub1 {
    display: flex;
    justify-content: flex-start;
}
.sub1 input {
    height: 13px;
}
.sub1 label {
    height: 13px;
    margin-left: 5%;
}
.sub2 {
    text-decoration: underline;
}
.login_btn {
    width: 100%;
    height: 6vh;
    margin-top: 5vh;
    background-color: #20291C;
}
.login_btn button{
    width: 100%;
    height: 6vh;
    border: none;
    background: none;
    color: #EAE7E5;
    text-align: center;
    font-size: 16px;
}