* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    color: #20291C;
    background-color: #EAE7E5;
}
header{
    height: 20vh;
    vertical-align: middle;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.left-nav {
    display: flex;
    margin-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}
.left-nav li {
    margin-left: 50px;
    font-size: 12px;
}
.right-nav {
    display: flex;
    margin-right: 5%;
}
.right-nav li {
    margin-right: 50px;
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.right-nav li:nth-child(3) {
    width: 38px;
    background-color:  #20291C;
    border-radius: 10%;
}
#night_day {
    border: none;
    background-color: #20291C;
    color:  #EAE7E5;
    font-size: 16px;
    margin: 10px auto;
    display: flex;
    border-radius: 10%;
}
.on {
    color: #20291C;
}
.wrapper-gallery {
    margin: 0 20vw;
}
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img5 img6 img3 img7"
    "img8 img9 img10 img7";

}
#index-gallery .gallery-img{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#index-gallery .img1{
    grid-area: img1;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img2{
    grid-area: img2;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img3{
    grid-area: img3;
    background-image: url("../imge/mini\ table.jpg");
    height: 610px;
}
#index-gallery .img4{
    grid-area: img4;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img5{
    grid-area: img5;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img6{
    grid-area: img6;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img7{
    grid-area: img7;
    background-image: url("../imge/mini\ table.jpg");
    height: 610px;
}
#index-gallery .img8{
    grid-area: img8;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img9{
    grid-area: img9;
    background-image: url("../imge/mini\ table.jpg");
}
#index-gallery .img10{
    grid-area: img10;
    background-image: url("../imge/mini\ table.jpg");
}
footer{
    background-color: #1e241d;
    color: #EAE7E5;
    margin-top: 25vh;
    display:flex;
    justify-content: center;
    height: 10vh;
    line-height: 10vh;
    font-size: 14px;
}