* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #EAE7E5;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #20291C;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .info1 {
    margin-left: 8%;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
.header .info2 {
    margin-right: 8%;
    font-size: 24px;
}

.header ul li {
    display: inline-block;
    margin-left: 50px;
}
.header ul li:nth-child(1){
    margin-left: 0;
}
.event_box {
    width: 1000px;
    margin: 15vh auto 0;
}
.event_wrap {
    display: flex;
    justify-content: center;
}
.event_wrap strong {
    font-size: 1000%;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 20px;
    margin-bottom: -5vh;
}
.event {
    background-color: #EAE7E5;
    padding: 5%;
    z-index: 10;
    color: #20291C;  
}
.event_title {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 2vh;
    font-family: 'Nanum Gothic Coding', monospace;
}
.event_title .big {
    font-size: 60px;
    margin-bottom: 1vh;
    font-family: 'Gothic A1', sans-serif;
    color: #20291C;
}
.event_title p {
    color: #20291C;
}
.event_info {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #20291C;
    padding: 1vh;
    font-family: 'Gothic A1', sans-serif;
}
.event_info:nth-child(2){
    border-top: 2px solid #20291C;
}
.event_info .num {
    color: #20291C;
    font-size: 30px;
    margin-right: 2%;
}
.event_info .item {
    color: #20291C;
    font-size: 50px;
}
.event_info .item_sub {
    color: #20291C;
    font-size: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-top: 1vh;
}
footer{
    margin-top: 25vh;
    width: auto;
    padding:50px 0;  
    overflow: hidden;
    background-color: #1e241d;
    text-align: center;
    color: #EAE7E5;
    font-size: 14px;
}

