* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EAE7E5;
    color: #20291C;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.header {
    width: 100%;
    margin: 2vh auto 0;
}
.header .info1 {
    float: left;
    margin-left: 8%;
}
.header .info2 {
    float: right;
    margin-right: 8%;
}
.header::after{
    display: block;
    content: '';
    clear: both;
}
.header ul li {
    display: inline-block;
    margin-left: 50px;
}
.header ul li:nth-child(1){
    margin-left: 0;
}
.main {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    position: relative;
}
.main .title {
    position: absolute;
}
.title {
    background: transparent;
}