* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-around;
}
.header ul li {
    float: left;
    margin-left: 10px;
}
.header ul li::after {
    display: block;
    content: '';
    clear: both;
}
.header ul li:nth-child(1) {
    margin: 0;
}
.main {
    width: 100%;
    margin: 0;
}