* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EAE7E5;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    width: 100%;
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.header {
    border: 2px solid red;
    width: 100%;
    margin: 0 auto;
}
.header .info1 {
    float: left;
    margin-left: 110px;
}
.header .info2 {
    float: right;
    margin-right: 110px;
}
.header::after{
    display: block;
    content: '';
    clear: both;
}
.header ul li {
    display: inline-block;
    margin-left: 10px;
}