.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    background-color: #323232;
    z-index: 3;
}
.header_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}
.head_start{
    display: flex;
    align-items: center;
}
.ham{
    padding: 8px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.logo{
    padding: 18px 14px 18px 16px;
    border: none;
    background-color: transparent;
}
.head_center{
    display: block;
    width: 50%;
    margin: 0 0 0 40px;
    padding: 0 4px;
}
.search{
    display: flex;
    max-width: 100%;
}
.search input{
    width: calc(100%-64px);
    height: 40px; 
    background: none;
    border: 1px solid white;
    border-radius: 2px 0 0 2px;
    border-right: none;
}
.search button{
    width: 64px;
    border: 1px solid white;
    border-radius: 0 2px 2px 0;
    border-left: none;
}
.head_end{
    display: flex;
}
.serch_i{
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}
.button{
    border: none;
    background-color: transparent;
}
.profile{
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;
}

@media screen and (max-width:400px){
    .head_center{
        display: none;
    }
    .serch{
        display: block;
    }
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.nav_box{
    max-width: 240px;
    max-height: 100vh;
    background-color: #323232;
    padding: 56px 0 0 0;
}