* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #EAE7E5;
}
body {
    width: 100%;
    color: #EAE7E5;
    background-color: #20291C;
}
header{
    height: 20vh;
    vertical-align: middle;
    align-items: center;
}
.none {
    display: none;
}
.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.left-nav {
    display: flex;
    margin-left: 5%;
    font-family: 'Noto Sans KR', sans-serif;
}
.left-nav li {
    margin-left: 50px;
    font-size: 12px;
}
.nav .none, .none_nav{
    display: none;
}
.right-nav {
    display: flex;
    margin-right: 5%;
}
.right-nav li {
    margin-right: 50px;
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}
.right-nav li:nth-child(3) {
    width: 38px;
    background-color:  #20291C;
    border-radius: 10%;
}
.event_box {
    width: 1000px;
    margin: 15vh auto 0;
}
.event_wrap {
    display: flex;
    justify-content: center;
}
.event_wrap strong {
    font-size: 1000%;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 20px;
    margin-bottom: -5vh;
}
.event {
    background-color: #EAE7E5;
    padding: 5%;
    z-index: 10;
    color: #20291C;  
}
.event_title {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 2vh;
    font-family: 'Nanum Gothic Coding', monospace;
}
.event_title .big {
    font-size: 60px;
    margin-bottom: 1vh;
    font-family: 'Gothic A1', sans-serif;
    color: #20291C;
}
.event_title p {
    color: #20291C;
}
.event_info {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #20291C;
    padding: 1vh;
    font-family: 'Gothic A1', sans-serif;
}
.event_info:nth-child(2){
    border-top: 2px solid #20291C;
}
.event_info .num {
    color: #20291C;
    font-size: 30px;
    margin-right: 2%;
}
.event_info .item {
    color: #20291C;
    font-size: 50px;
}
.event_info .item_sub {
    color: #20291C;
    font-size: 15px;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-top: 1vh;
}
footer{
    margin-top: 25vh;
    width: auto;
    padding:50px 0;  
    overflow: hidden;
    background-color: #1e241d;
    text-align: center;
    color: #EAE7E5;
    font-size: 14px;
}

@media screen and (max-width:1000px) {
    header {
        height: 20vh;
    }
    .head {
        display: flex;
        justify-content: space-between;
    }
    .none {
        display: inline-block;
        font-size: 44px;
        margin: auto 10%;
        z-index: 1000;
        cursor: pointer;
    }
    .none_nav, .nav {  
        display: none;
    }
    .none:hover ~.none_nav{
        font-size: 50px;
        display: block;
    }
    .none_nav {
        width: 300px;
        height: 100vh;
        background-color: #aaaaaa;
        z-index: 100;
        margin-left: 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    .none_box {
        margin-top: 15vh;
    }
    .none_nav span {
        display: block;
        padding: 25px;
        font-size: 18px;
    }



    .event_box {
        width: 800px;
        margin: 5vh auto 0;
    }
    .event_wrap {
        display: flex;
        justify-content: center;
    }
    .event_wrap strong {
        font-size: 1000%;
        font-family: 'Pathway Gothic One', sans-serif;
        letter-spacing: 20px;
        margin-bottom: 2vh;
    }

}