@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,ul,li,p,a,blockquote {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}
img {
    vertical-align: top;
}
.hidden {
    display: none;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
header {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
}
header nav {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo {
    font-size: 34px;
    font-weight: 700;
    margin-left: 5%;
}
header nav ul {
    display: flex;
    justify-content: center;
    margin-right: 5%;
}
header nav ul li a {
    margin-right: 30px;
    font-size: 1.3vw;
}
header nav.sticky {
    position: fixed;
    padding: 7px 0;
    background: #1b1d20;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}
header main {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 85vh;
    margin-right: 15vw;
}
header .main_info h1 {
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
header .main_info h3 {
    font-size: .8vw;
    text-align: end;
}
.slogan {
    padding: 107px 0 97px;
    background: #e2e2e2;
}
.slogan h2 {
    font-size: 50px;
    color: #11262e;
}
.slogan p {
    font-size: 28px;
    color: #11262e;
    line-height: 32px;
    margin: 24px 0 40px;
} 
.slogan a {
    background: #1b1d20;
    height: 71px;
    line-height: 71px;
    color: #fff;
    font-size: 28px;
    padding: 0 62px;
    border-radius: 4px;
    display: inline-block;
}
/* TESTIMONIAL */
.testimonial {
    background: #f0f0f0f0;
    padding: 53px 0;
    text-align: center;
}
.testimonial blockquote {
    color: #11262e;
    line-height: 27px;
}
.testimonial blockquote p {
    color: #11262e;
    font-size: 28px;
}
.testimonial blockquote small {
    color: #11262e;
    font-size: 19px;
    font-style: italic;
}
/* DEVICE */
.device {
    padding: 97px 0 216px;
}
.device h3 {
    font-size: 35px;
    color: #2c2f36;
    margin-bottom: 26px;
}
.device p {
    color: #2c2f36;
    font-size: 18px;
    line-height: 27px;
}
.appliance img {
    position: absolute;
    left: 50%;
    opacity: 0;
}
.animate, .grow-img, .animate_down{
    animation: fadeIn 1s forwards;
    transition: 2s ease-in-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
#phone{
    margin-top: 40px;
}
#phone.animate {
    transform: translateX(14em);
}
#monitor.animate {
    transform: translateX(3em);
}
/* FEATURES */
.features {
    background: #f0f0f0;
    padding: 81px 0;
}
.features .item {
    text-align: center;
}
.features .item img {
    width: 0;
    height: 0;
}
.features .item img.grow-img {
    width: 169px;
    height: 169px;
}
.features .item h4 {
    color: #2c2f36;
    font-size: 30px;
    margin-top: 15px;
    text-transform: uppercase;
    opacity: 0;
}
/* LOCATION */
.location {
    position: relative;
}
.stripes {
    display: flex;
}
.stripes .stripe {
    width: 10%;
    height: 0;
}
.stripes .stripe.animate_down{
    height: 512px;
}
#s1 {background: #2c2f36; transition-delay: 0.1s;}
#s2 {background: #444850; transition-delay: 0.2s;}
#s3 {background: #36383c; transition-delay: 0.3s;}
#s4 {background: #1e2026; transition-delay: 0.4s;}
#s5 {background: #444850; transition-delay: 0.5s;}
#s6 {background: #2b2d30; transition-delay: 0.6s;}
#s7 {background: #212326; transition-delay: 0.7s;}
#s8 {background: #36383c; transition-delay: 0.8s;}
#s9 {background: #444850; transition-delay: 0.9s;}
#s10 {background:#2c2f36; transition-delay: 1s;}
.contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 155px 0 120px;
}
.location .map {
    position: relative;
}
#location_map {
    margin-left: 90px;
}
#radar {
    position: absolute;
    left: 120px;
    right: -40px;
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.contents {
    opacity: 0;
}
.contents.opacity {
    opacity: 1;
}
.contents .call,
.contents .email,
.contents .adress {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #fff;
    text-align: end;
    width: 30vw;
}
.contents .info {
    border-right: 2px solid #f7eded;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff;    
    line-height: 37px;
}
.contents .input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents .input input {
    height: 5vh;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
}
.contents .inquiry {
    display: flex;
    justify-content: end;
    align-items: center;
}
.contents .inquiry_info {
    padding: none;
    margin-left: 5%;
}
.contents .inquiry_info p {
    height: 5vh;
    line-height: 5vh;
    font-size: 13px;
    color: #fff;
}
button {
    width: 68%; 
    margin-top: 5vh;
    background: #fff;
    border: none;
    border-radius: 4px;
    display: inline-block;
}
button a {
    color: #11262e;
    font-size: 28px;
    height: 71px;
    line-height: 71px;
}