*{
    list-style: none;
    text-decoration: none;
    color: black
}
body{
    width: 1136px;
}
header ul{
    display: flex;
    justify-content: end;
    margin-top: 160px;
}
.header,
.header i{
    margin-right: 10px;
}
.header button{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    height: 42px;
    border: none;
    transition: 0.3s;
}
.header button:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
.header_1 button{
    background-color: #000;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    height: 42px;
    border: none;
    transition: 0.3s;
}
.header_1 button:hover{
    background-color:rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
/* header 영역 */
main ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}
.main,
.main i{
    margin-left: 10px;
    text-align: center;
}
.main button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    width: 180px;
    height: 48px;
    border: 1px solid black;
}
.main button:hover{
    background-color: #000;
    border: none;
    cursor: pointer;
    color: white;
}
.main button:hover > i{
    color: white;
}
/* main 영역 */

.iteam_bg{
    margin-top: 50px;
    width: 1136px;
    height: 348px;
    background: url(도시사진.png);
}

.search-bar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 830px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    border: white;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.search-bar__input {
    width: 700px;
    height: 60px;
    border: none;
    margin-left: 10px;
    font-size: 16px;
}


.search-bar__input:focus {
    outline: none;
    width: 300px;
    text-align: left;
}

.fa-search {
    font-size: 20px;
    margin-left: 30px;
}
/* head 영역 */
section{
    width: 1136px;
    height: 500px;
}
.main_text{
    margin-top: 50px;
}

.content{
    padding: 0;
    border: 5px solid rgba(0, 0, 0, 0.2);
    width: 270px;
}
.content{
    border: 5px solid red;
    height: 400px;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    padding: 0;
    height: 400px;
    grid-template-columns: 284px 284px 284px 284px ;
}
.c-text h2{
    font-size: 18px;
    margin: 0;
}
.c-text p{
    font-size: 16px;
    margin: 0; 
}
/* container 영역 */
.sub{
    display: flex;
    background-color: antiquewhite;
    height: 180px;

}
.sub .sub-1{
    width: 642px;
}
.sub .img{
    width: 494px;
    border: 3px solid red;
    height: 180px;
}



